@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Inter';
    box-sizing: border-box;
}

:root {
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --letter-spacing: -0.02em;
}

a {
    text-decoration: none;
    max-width: max-content;
    transition: all ease 200ms;
    transform: scale3d(1, 1, 1);
}

a:hover {
    text-decoration: none !important;
    transform: scale3d(1.05, 1.05, 1.05);
}

body {
    margin: 0px;
    padding: 0px;
}

.area_header {
    background: linear-gradient(88.31deg, #1F1F1F 0%, #000000 66.77%);
    width: 100%;
    padding-top: 4px;
}

.area_header_1,
.area_header_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.title_header_1 h2 {
    font-weight: var(--font-weight-800);
    font-size: 18px;
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0px;
}

.area_header_2_text {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.title_header_2 h2 {
    font-weight: var(--font-weight-800);
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0px;
}

.sub_title_header_2 p {
    font-weight: var(--font-weight-500);
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0px;
}

.area_header_3 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: max-content;
    padding: 6px 12px 6px 12px;
    background: #FED32D;
    border-radius: 50px;
}

.area_header_3_int_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.title_header_3_btn h2 {
    font-weight: var(--font-weight-800);
    font-size: 15px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

/*Menu*/
.container_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.container_header_int {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1280px;

}

.area_container_header {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.area_container_header a:hover {
    transform: scale3d(1, 1, 1);
}

/*
.logo img {
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .4));
}
*/
.menu_mobile {
    display: none;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

ul a:hover {
    transform: scale3d(1, 1, 1);
}

nav ul li a:hover {
    color: #fff;
}

nav ul li {
    text-align: center;
    list-style: none;
    width: 100%;
    max-width: max-content;
}

nav ul li a {
    font-weight: var(--font-weight-800);
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

nav ul li {
    font-weight: var(--font-weight-800);
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn_header_1,
.btn_header_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #0223D0;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
}

.btn_header_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #FED32D;
    border-radius: 10px;
    padding: 12px 30px 12px 30px;
}

.btn_blog {
    display: flex;
    gap: 8px;
}

.btn_header_3 li {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

/*Container 1*/

#container_1 {
    background-image: url(../img/bg_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;

}

.container_1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container_1_int {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1280px;
}

.area_container_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    width: 100%;
    max-width: 575px;
}

.border_container_1 {
    max-width: 280px;
    border: 2px solid #FFFFFF;
    border-radius: 56px;
}

.info_container_1 p {
    font-weight: var(--font-weight-500);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px;
}

.title_container_1 h2 {
    font-weight: var(--font-weight-800);
    font-size: 50px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.sub_title_container_1 p {
    font-weight: var(--font-weight-500);
    font-size: 25px;
    line-height: 30px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}


.btn_container_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #FED32D;
    border-radius: 10px;
    padding: 12px 30px 12px 30px;
}

.btn_container_1 h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 0px;
}

.area_info_oab {
    padding: 60px 0px 60px 0px;
}
.info_oab {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    border-radius: 30px;
    width: 100%;
    height: 185px;
}

.info_oab_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: flex !important;
}

.owl-carousel {
    justify-content: center;
    align-items: center;
}

.slide-1 .item .col-sm-6 {
    max-width: 100%;
}


.title_info_oab h2 {
    font-weight: var(--font-weight-700);
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.fase_1_destaque_title {
    display: flex;
    align-items: center;
    gap: 3px;
    background: #FFD842;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    max-width: max-content;
}

.fase_1_destaque_title h2 {
    font-weight: var(--font-weight-500);
    font-size: 30px;
    letter-spacing: var(--letter-spacing);
    color: #000000;    
    margin: 0px;
}

.area_texts_fase_1_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.title_fase_1 h2 {
    font-weight: var(--font-weight-800);
    font-size: 50px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
    text-align: center;
}

.area_area_fase_1_total {
    padding: 50px 0px 50px 0px;
}

.area_fase_1 {
    width: 100%;
    background: #F5F5F5;
    border-radius: 15px;
    padding: 15px 40px 15px 15px;
}

.area_fase_1_int {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.area_fase_1_int img {
    width: 100%;
    max-width: 250px;
}

.desconto_fase_1 {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(1.5px);
    border-radius: 4px;
    padding: 4px;
    z-index: 1;
}

.title_desconto_fase_1 h2 {
    font-weight: var(--font-weight-800);
    font-size: 15px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.desconto_fase_1_int {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.area_detalhes_fase_1 {
    width: 100%;
    max-width: max-content;
    position: relative;
}

.area_detalhes_fase_1 img {
    max-width: max-content;
    width: 100%;
}

.area_texts_fase_1 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.area_texts_fase_1_int {
    display: flex;
    align-items: center;
    gap: 15px;
}

.title_fase_1_int h2 {
    font-weight: var(--font-weight-800);
    font-size: 30px;
    line-height: 36px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.fase_1_destaque {
    display: flex;
    align-items: center;
    gap: 3px;
    background: #FFD842;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    max-width: max-content;
}

.fase_1_destaque h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.sub_title_fase_1 {
    width: 100%;
    max-width: 220px;
}

.sub_title_fase_1 p {
    font-weight: var(--font-weight-600);
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    color: #808080;
    margin: 0px;
}

.preco_fase_1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 2px;
}

.real h4 {
    font-weight: var(--font-weight-800);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.preco h2 {
    font-weight: var(--font-weight-800);
    font-size: 40px;
    line-height: 48px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.preco h4 {
    font-weight: var(--font-weight-800);
    font-size: 20px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.parcelar p {
    font-weight: var(--font-weight-400);
    font-size: 15px;
    line-height: 18px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.btn_fase_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    width: 100%;
    background: #0B30E3;
    border-radius: 45px;
    padding: 10px 40px;
}

.btn_fase_1 h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}


/*Fase 2*/

.area_fase_2 {
    width: 100%;
    background: #F5F5F5;
    border-radius: 15px;
    padding: 15px;
    height: 445px;
}

.area_fase_2_int img {
    width: 100%;
    max-width: 250px;
}

.area_fase_2_int {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.area_texts_fase_2 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 15px;
}

.area_texts_fase_2_int {
    display: flex;
    align-items: center;
    gap: 8px;
}

.slide-2 .item .col-sm-3 {
    max-width: 100%;
}

.title_fase_2_int h2 {
    font-weight: var(--font-weight-800);
    font-size: 20px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.area_gratis_fase_2 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title_gratis_fase_2 h2 {
    font-weight: var(--font-weight-800);
    font-size: 25px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.fase_2_destaque {
    display: flex;
    align-items: center;
    gap: 3px;
    background: #FFD842;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    max-width: max-content;
}

.fase_2_destaque h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.sub_title_fase_2 {
    width: 100%;
    max-width: 155px;
}

.sub_title_fase_2 p {
    font-weight: var(--font-weight-600);
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    color: #808080;
    margin: 0px;
}

.preco_fase_2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 2px;
}

.real h4 {
    font-weight: var(--font-weight-800);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.preco h2 {
    font-weight: var(--font-weight-800);
    font-size: 40px;
    line-height: 48px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.preco h4 {
    font-weight: var(--font-weight-800);
    font-size: 20px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.parcelar p {
    font-weight: var(--font-weight-400);
    font-size: 15px;
    line-height: 18px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.btn_fase_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    width: 100%;
    background: #0B30E3;
    border-radius: 45px;
    padding: 10px 40px;
}

.btn_fase_2 h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

/*Pos EOAB*/
.slide-3 .item .col-sm-6 {
    max-width: 100%;
}

.novo_destaque_title {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #FED32D;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    max-width: max-content;
}

.novo_destaque_title h2 {
    font-weight: var(--font-weight-800);
    font-size: 30px;
    letter-spacing: var(--letter-spacing);
    color: #000000;    
    margin: 0px;
    text-transform: uppercase;
}

.area_btn_pos_eoab {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.btn_pos_eoab {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    width: 100%;
    background: #0B30E3;
    border-radius: 10px;
    padding: 12px 60px;
}

.btn_pos_eoab h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

/*Cards*/

.area_cards_total {
    padding: 60px 0px 60px 0px;
}

.area_card {
    width: 100%;
    background: #12EF9C;
    border-radius: 20px;
    padding: 25px 25px 0px 35px;
}

.area_card_int {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.area_mockup {
    width: 100%;
    max-width: max-content;
}

.area_mockup img {
    width: 100%;
    margin-top: -60px;
}

.area_texts_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 330px;
    gap: 10px;
    padding: 0px 0px 25px 0px;
}

.info_card p {
    font-weight: var(--font-weight-500);
    font-size: 15px;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    color: #000000;
    margin: 0px;
}

.title_card h2 {
    font-weight: var(--font-weight-800);
    font-size: 30px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.sub_title_card p {
    font-weight: var(--font-weight-500);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: var(--letter-spacing);
    color: #232323;
    margin: 0px 0px 10px 0px;
}

.btn_grupo_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: max-content;
    padding: 10px 15px 10px 15px;
    background: #000000;
    border-radius: 10px;
}

.btn_grupo_card_int h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.btn_grupo_card_int {
    display: flex;
    align-items: center;
    gap: 6px;
}

.area_card_2 {
    width: 100%;
    background: #0223D0;
    border-radius: 20px;
    padding: 25px 35px 0px 30px;
}

.area_card_int_2 {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.area_texts_card_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: max-content;
    gap: 10px;
    padding: 0px 0px 25px 0px;
}

.info_card_2 p {
    font-weight: var(--font-weight-500);
    font-size: 15px;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    color: #FED32D;
    margin: 0px;
}

.title_card_2 h2 {
    font-weight: var(--font-weight-800);
    font-size: 30px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.title_card_2 h4 {
    font-weight: var(--font-weight-700);
    font-size: 20px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.sub_title_card_2 p {
    font-weight: var(--font-weight-400);
    font-size: 18px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px 0px 5px 0px;
}

.area_btn_card_2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_grupo_data_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: max-content;
    padding: 10px 12px 10px 12px;
    background: transparent;
    border: 1px solid #FED32D;
    border-radius: 10px;
}

.btn_grupo_data_card_int {
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn_grupo_data_card_int h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.btn_grupo_participar_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: max-content;
    padding: 10px 15px 10px 15px;
    background: #FED32D;
    border-radius: 10px;
}

.btn_grupo_participar_card_int {
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn_grupo_participar_card_int h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

/*Cursos*/

.area_cursos_total {
    background: #F5F5F5;
    width: 100%;
    padding: 60px 0px 120px 30px;
}

.container_cursos {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.container_cursos_int {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 35px;
}

.title_cursos_total h2 {
    font-weight: var(--font-weight-800);
    font-size: 50px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0px;
}

.slide-4 .item  {
    display: flex;
    justify-content: end;
}

.slide-4 .owl-dots {
    display: flex;
    align-items: center;
    margin-top: 0px !important;
    position: absolute !important;
    bottom: -60px !important;
}

.slide-4 .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px !important;
    position: absolute !important;
    bottom: -64px !important;
    width: 20%;
}

.slide-4 .owl-stage-outer {
    height: 390px;
}

.owl-theme .owl-nav .disabled {
    opacity: 1 !important;
}

.owl-theme .owl-nav [class*=owl-] {
    background-color: transparent !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #808080 !important;
    width: 15px !important;
    height: 15px !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: #D9D9D9 !important;
    width: 15px !important;
    height: 15px !important;
}

button:focus {
    outline: none !important;
}

.card_cursos {
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0px 8px 28px -15px rgba(0, 0, 0, 0.3);
    height: 368px;
}

.card_cursos_int {
    display: flex;
    flex-direction: column;
}

.card_cursos_int img {
    width: 100%;
    max-width: 350px;
}

.area_texts_cards_cursos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 25px 30px 25px;
}

.title_card_cursos h2 {
    font-weight: var(--font-weight-800);
    font-size: 22px;
    color: #000000;
    margin: 0px;
}

.sub_title_card_cursos p {
    font-weight: var(--font-weight-500);
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 0px;
}

/*CEO*/
#container_ceo {
    background-image: url(../img/bg_orlandocosta.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.container_ceo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_ceo_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1040px;
}

.area_ceo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.area_ceo img {
    max-width: max-content;
    width: 100%;
    margin-top: -40px;
}

.area_text_ceo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 674px;
}

.info_ceo p {
    font-weight: var(--font-weight-800);
    font-size: 20px;
    text-transform: uppercase;
    color: #FFCE0A;
    margin: 0px 0px -20px 0px;
}

.title_ceo h2 {
    font-weight: var(--font-weight-800);
    font-size: 50px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.sub_title_ceo p {
    font-weight: var(--font-weight-500);
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0px;
}

/*Comentários*/

.area_comentarios_total {
    background: #F5F5F5;
    width: 100%;
    padding: 60px 0px 120px 30px;
}

.container_comentarios {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.container_comentarios_int {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 100%;
    gap: 35px;
}

.title_comentarios_total h2 {
    font-weight: var(--font-weight-800);
    font-size: 50px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0px;
}

.slide-5 .item  {
    display: flex;
    justify-content: start;
}

.slide-5 .owl-dots {
    display: flex;
    align-items: center;
    margin-top: 0px !important;
    position: absolute !important;
    bottom: -60px !important;
}

.slide-5 .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px !important;
    position: absolute !important;
    bottom: -64px !important;
    width: 20%;
}

.slide-5 .owl-stage-outer {
    height: 280px;
}

.comentarios_card {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 12px 22px -11px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 240px;
    max-width: 350px;
    padding: 25px;
   
}

.icon_comentario {
    position: absolute;
    left: 0px;
    bottom: -38px;
}

.comentarios_card_int {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.area_perfil_comentario {
    display: flex;
    gap: 8px;
}

.area_perfil_comentario img {
    max-width: max-content;
    width: 100%;
    object-fit: contain;
}

.area_text_comentario {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.title_nome_comentario h2 {
    font-weight: var(--font-weight-800);
    font-size: 18px;
    color: #000000;
    margin: 0px;
}

.perfil_comentario h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    color: #0B30E3;
    margin: 0px;
}

.text_comentario p {
    font-weight: var(--font-weight-500);
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin: 0px;
}
/*Materiais*/
.container_materiais {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_materiais_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    background: #F5F5F5;
    border-radius: 20px;
    padding: 30px 20px 30px 20px;
}

.area_materiais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.area_texts_materiais {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    max-width: 500px;
}

.title_materiais h2 {
    font-weight: var(--font-weight-800);
    font-size: 50px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.sub_title_materiais p {
    font-weight: var(--font-weight-500);
    font-size: 20px;
    letter-spacing: var(--letter-spacing);
    color: #323232;
    margin: -10px 0px 20px 0px;
}

.btn_materiais {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    width: 100%;
    background: #0B30E3;
    border-radius: 10px;
    padding: 12px 20px;
}

.btn_materiais_int {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn_materiais_int h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}


.container_youtube {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 60px;
}

.container_youtube_int {
    display: flex;
    width: 100%;
    max-width: 1280px;    
    background: #1F1F1F;
    border-radius: 20px;
    padding: 40px 40px 0px 40px;
    
}

.area_youtube {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

.area_img_auloes {
    margin-top: -60px;
}

.area_img_auloes img {
    max-width: max-content;
    width: 100%;
}

.area_videos_youtube {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 370px;
    position: relative;
}

.bg_videos_youtube {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(176.86deg, rgba(31, 31, 31, 0) 20%, #1F1F1F 80%);
    width: 100%;
    height: 64px;
}

.area_videos_youtube_int {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.area_videos_youtube_int img {
    width: 100%;
    max-width: max-content;
    border-radius: 5px;
}

.title_youtube h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.sub_title_youtube p {
    font-weight: var(--font-weight-400);
    font-size: 15px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.area_auloes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 250px;
}

.title_auloes h2 {
    font-weight: var(--font-weight-500);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.btn_auloes {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    width: 100%;
    background: #FF0000;
    border-radius: 10px;
    padding: 12px 20px;
}

.btn_auloes_int {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn_auloes_int h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

/*Contato*/
.container_contato {
    display: flex;
    width: 100%;
    background: #F5F5F5;
    padding: 60px 30px 60px 30px;
}

.container_contato_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.area_contato {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.img_contato img {
    width: 100%;
    max-width: max-content;
}

.area_text_contato {
    display: flex;
    width: 100%;
    max-width: 630px;
    flex-direction: column;
    gap: 40px;
}

.title_contato h2 {
    font-weight: var(--font-weight-800);
    font-size: 50px;
    line-height: 56px;
    letter-spacing: var(--letter-spacing);
    color: #000000;
    margin: 0px;
}

.sub_title_contato p {
    font-weight: var(--font-weight-500);
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 0px;
}

.area_newslatter {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.area_newslatter_int {
    display: flex;
    width: 100%;
    gap: 15px;
}

.area_input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.area_input label {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    color: #000000;
    margin: 0px;
}

.enviar {
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-weight: var(--font-weight-700);
    background: #0B30E3;
    border-radius: 10px;
    transition: all ease 300ms;
}

.enviar:hover {
    background: #2684FC;
    box-shadow: 0px 10px 25px -6px #2684FC;
}

input {
    height: 40px;
    outline: none;
    border: none;
    background: #FFFFFF;
    border-radius: 10px;
    padding-left: 10px;
}

input::placeholder {
    font-weight: var(--font-weight-500);
    font-size: 18px;
    color: #D9D9D9;
}


/*Redes sociais*/
.container_redes {
    display: flex;
    width: 100%;
    justify-content: center;
    background: #1F1F1F;
    padding: 30px 40px 0px 40px;
}

.container_redes_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.img_redes {
    position: relative;
}

.img_redes img {
    width: 100%;
    max-width: max-content;
}

.bg_redes {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, #1F1F1F 0%, #1F1F1F 0%, rgba(31, 31, 31, 0) 0.01%, #1F1F1F 100%);
}

.area_text_redes {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 720px;
}

.title_redes h2 {
    font-weight: var(--font-weight-800);
    font-size: 50px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.area_text_redes_int {
    display: flex;
    gap: 60px;
}

.instagram_redes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 280px;
}

.title_instagram h2 {
    font-weight: var(--font-weight-800);
    font-size: 25px;
    color: #FFFFFF;
    margin: 0px;
}

.sub_title_instagram p {
    font-weight: var(--font-weight-500);
    font-size: 18px;
    line-height: 146.52%;
    color: #D9D9D9;
    margin: 0px;
}

.btn_seguir {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    width: 100%;
    background: #0B30E3;
    border-radius: 10px;
    padding: 12px 20px;
    transition: all ease 300ms;
}

.btn_seguir:hover {
    background: #0B30E3;
    box-shadow: 0px 10px 25px -6px #0B30E3;
}

.btn_seguir_int {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn_seguir_int h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

/*Footer*/
footer {
    background: #111111;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.area_footer_1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: max-content;
}

.logo_footer img {
    width: 100%;
    max-width: max-content;
}

.btns_footer {
    display: flex;
    gap: 8px;
}

.btn_header_footer_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #FED32D;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
}

.btn_header_footer_1 h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    color: #000000;
    margin: 0px;
}

.btn_header_footer_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #0B30E3;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
}

.btn_header_footer_2 h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    color: #FFFFFF;
    margin: 0px;
}

.area_social_footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title_social h2 {
    font-weight: var(--font-weight-800);
    font-size: 25px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.area_icons_footer {
    display: flex;
    gap: 10px;
}

.icons_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background: #323232;
    border-radius: 10px;
    padding: 8px;
}

.icons_footer h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}


.area_footer_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: max-content;
}


.title_suporte_footer h2 {
    font-weight: var(--font-weight-800);
    font-size: 25px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px 0px 10px 0px;
}

.btn_email_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #323232;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
}

.btn_email_footer h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    color: #FFFFFF;
    margin: 0px;
}

.btn_whats_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #12EF9C;
    border-radius: 10px;
    padding: 12px 15px 12px 15px;
}

.btn_whats_footer h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    color: #000000;
    margin: 0px;
}

.pagamento_footer {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 30px;
}

.title_pagamento h2 {
    font-weight: var(--font-weight-800);
    font-size: 25px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.area_pagamento_footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.area_footer_3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: max-content;
}

.title_cursos_footer h2 {
    font-weight: var(--font-weight-800);
    font-size: 25px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

.area_cursos_footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title_outros_cursos h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    color: #FFFFFF;
    margin: 0px;
}

.title_outros_cursos {
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn_novo {
    display: flex;
    gap: 4px;
    align-items: center;
    background: #0B30E3;
    border-radius: 4px;
    padding: 3px 6px;
}

.btn_novo h2 {
    font-weight: var(--font-weight-800);
    font-size: 15px;
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    margin: 0px;
}

@media(max-width: 1024px) {

    .title_header_1 h2 {
        font-size: 1em;
    }

    .title_header_2 h2 {
        font-size: 1em;
    }

    .title_header_3_btn h2 {
        font-size: 14px;
    }

    nav ul {
        display: none;
    }

    .menu_mobile_open {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        background-color: #000000;
        padding: 12px 8px;
        border-radius: 10px;
    }
    .menu_mobile nav ul li a:hover {
        color: #fff;
    }

    @keyframes move {
        0% {
            top: -100%;

        }

        100% {
            top: 140px;
        }

    }

    .menu_mobile_close {
        display: none;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        right: 40px;
    }

    .line_1 {
        transform: rotate(130deg);
        position: absolute;
    }

    .line_2 {
        position: absolute;
        transform: rotate(50deg);
    }

    .menu_mobile_close div {
        width: 40px;
        height: 3px;
        border-radius: 100px;
        background: #FFFFFF;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }


    .menu_mobile_open div {
        width: 40px;
        height: 3px;
        border-radius: 100px;
        background: #FFFFFF;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }

    .menu_mobile {
        transition: all ease-in 400ms;
        display: none;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0px;
        background-color:#0B30E3;
        box-shadow: 0px 4px 43px rgba(255, 255, 255, 0.36);
        z-index: 10;
        padding: 40px 0px 40px 0px;
    }

    .menu_mobile nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .menu_mobile nav ul li a {
        font-size: 18px;
    }
    .area_container_header {
        padding: 0px 20px;
    }
    .area_container_1 {
        padding: 0px 20px;
    }


    .area_info_oab .container .row {
        gap: 20px;
    }
    .col-sm-3 {
        -ms-flex: 0 0 35% !important;
        flex: 0 0 35% !important;
        max-width: 50% !important;
        padding: 0px !important;
    }
}





